autopep8==1.5.7
cachelib==0.1.1
certifi==2020.12.5
chardet==4.0.0
click==8.0.0
cs50==6.0.4
Flask==2.0.0
Flask-Session==0.3.2
greenlet==1.1.0
idna==2.10
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
pycodestyle==2.7.0
requests==2.25.1
SQLAlchemy==1.4.15
sqlparse==0.4.1
termcolor==1.1.0
toml==0.10.2
urllib3==1.26.4
Werkzeug==2.0.1
